{% extends 'catalog/layouts/layout_base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <div class="alert alert-danger">
                <h3 class="alert-heading">Ошибка!</h3>
                <p>Вы можете изменять только те продукты, которые добавили именно Вы.</p>
                <p>Выбранный Вами ранее продукт добавил другой пользователь.</p>
            </div>
            <a class="btn btn-secondary btn-lg" href="{% url 'catalog:home' %}">Ясно</a>

        </div>
    </div>
</div>
{% endblock %}